11.Protocols/2.PumpService/PumpClient/Connected Services/PumpServiceReference/PumpService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/PumpService.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PumpService.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="StatisticsData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AllTacts" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorTacts" type="xs:int" />
      <xs:element minOccurs="0" name="SuccessTacts" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StatisticsData" nillable="true" type="tns:StatisticsData" />
</xs:schema>